.section--footer {
  padding: 25px;
  background-color: $light-grey;
  font-family: "Poppins", sans-serif;
  color: #aaa;
}

.nav-list {
  @include ul-reset;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    padding: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.4s;

    &:hover {
      color: #444;
    }
  }
}
