#session {
  width: 100vw;
  height: 100vh;
}

#logged {
  width: 100%;
}

#video-holder {
  position: absolute;
}

.toolbar {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, 0);
  background: rgba(8, 2, 90, 0.8);
  border-radius: 3px;
  z-index: 9;
  transition: all 0.3s ease;
  opacity: 1;
  z-index: 100;
}

.toolbar {
  top: 16px;
  left: 50%;
}

.toolbar-hide {
  top: -100px;
  opacity: 0;
  transition: all 0.3s ease;
}

.toolbox {
  background: rgba(8, 2, 90, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 3px 3px 0;
  transition: all 0.3s ease;
  opacity: 1;
  z-index: 100;
}

.toolbox {
  left: 0;
  top: 20%;
}

.toolbox-hide {
  opacity: 0;
  transition: all 0.3s ease;
  left: -100px;
}

.toolbox-radius {
  border-radius: 0;
}

.toolButton {
  display: inline-block;
  margin: 16px;
  padding: 0;
}

/*MAIN-VIDEO-CONTAINER*/
.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  overflow: hidden;
}
.main-video-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(to bottom, #1a3c84 0%, #39436b 100%);

  .main-video-container__participant {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .main-video-container__name {
    position: absolute;
    height: 2em;
    left: 5px;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 4px 0;
    background-color: rgba(8, 2, 90, 0.8);
    text-align: center;
    font-size: large;
    line-height: 2em;
    color: white;
    z-index: 2;
  }
  .main-video-container__video-toolbar {
    position: absolute;
    left: 5px;
    top: 40px;
    width: 100px;
    height: 50px;
    z-index: 2;
  }
  .main-video-container__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);

    &.remote {
      transform: scaleX(1);
    }
  }

  .main-video-container__roboto {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 0;
  }
  .main-video-container__img {
    display: block;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .main-video-container__icon {
    width: 30%;
    margin-left: 20%;
  }
}

/*SMALL-VIDEO-CONTAINERS*/
.small-video-container {
  position: absolute;
  bottom: 5px;
  left: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 96%;
  height: 152px;
  overflow: hidden;
  z-index: 10;

  .small-video-container__participant {
    position: relative;
    width: 260px;
    height: 152px;
    margin: 0 10px;
    background-color: rgba(40, 40, 40, 0.7);
    border: 1px solid rgba(8, 2, 90, 0.8);
    border-radius: 4px;
    overflow: hidden;

    &.remote {
      width: 152px;

      video {
        transform: translateX(-25%);
      }
    }
  }
  .small-video-container__name {
    position: absolute;
    display: inline-block;
    height: 2em;
    background-color: rgba(8, 2, 90, 0.8);
    margin: 0 auto 5px;
    padding: 0 5px;
    border-radius: 4px 0;
    text-align: center;
    line-height: 2em;
    font-size: smaller;
    color: white;
    z-index: 2;
  }
  .small-video-container__video-toolbar {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 30px;
    height: 100px;
    background-color: transparent;
    z-index: 2;
  }
  .small-video-container__video {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    transform: scaleX(-1);

    video {
      max-height: 100%;
      object-fit: cover;
    }

    &.remote {
      transform: scaleX(1);
    }

    &_hidden {
      display: none;
    }
  }
  .small-video-container__roboto {
    position: absolute;
    left: 50%;
    width: 150px;
    height: 100%;
    transform: translateX(-50%);
    box-sizing: border-box;
    //background-color: rgb(109, 118, 241);
    //border-radius: 50%;
  }
  .small-video-container__icon {
    width: 80%;
    margin-left: 20%;
    margin-top: 5px;
  }
}

/*CHAT*/

.chat {
  position: absolute;
  z-index: 100;
  left: 76px;
  top: 20vh;
  height: 60vh;
  width: 30%;
  background: rgba(8, 2, 90, 0.8);
  border-radius: 0 3px 3px 3px;
  overflow: auto;
}

.messages {
  overflow: auto;
  height: 85%;
}

.chatForm {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

.chatFormInput {
  width: 85%;
}

.sendMsgButton {
  height: 40px;
  margin-left: 6px;
}

.msgHolder {
  background: #fff;
  margin: 15px 10px;
  padding: 5px;
  border-radius: 6px;
  width: 75%;
  border-bottom-right-radius: 0;
  margin-left: 23%;

  span:hover {
    color: rgba(8, 2, 90, 1);
  }
}

.systemMsg {
  padding: 10px;
  color: #fff;
}

/*CHAT*/

.usersBlock {
  position: absolute;
  left: 76px;
  top: 20vh;
  height: 60vh;
  width: 30%;
  background: rgba(8, 2, 90, 0.8);
  border-radius: 0 3px 3px 3px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.users {
  margin: 0 auto;
  width: 90%;
  margin: 5px 10px;
}
/*
#main-video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
    //transform: scale(-1, 1);
  }

  p {
    position: absolute;
    display: inline-block;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    z-index: 9;
  }

  p.userName {
    position: absolute;
    font-size: 16px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    font-weight: lighter;
    background: #777777;
    color: #f8f8f8;
    margin: 0;
    z-index: 9;
  }
}

#video-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  bottom: 16px;
  right: 8px;
  height: 150px;

  video {
    height: 100%;
    cursor: pointer;
    transform: scale(-1, 1);
    margin-right: -38px;
    margin-left: 8px;
  }

  div {
    position: relative;
    left: -162px;
  }

  p {
    display: inline-block;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
  }

  p.userName {
    float: right;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    font-weight: lighter;
    font-size: 12px;
    background: #777777;
    color: #f8f8f8;
  }
}*/
